<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_user_authenticate_before">
        <observer name="secret_code_check" instance="SO\Gauthenticator\Observer\SecretCodeCheck" />
    </event>
</config>
